GeoDKPOCDMPTest.WS1/Service References/WS2/Service21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://geodkpocdmptestws2.azurewebsites.net/Service2.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GeoDKPOCDMPTest.WS2" />
  <xs:element name="GetCalculatedDataSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="ValueA" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="ValueB" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="ValueC" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCalculatedDataSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GeoDKPOCDMPTest.WS2" minOccurs="0" name="GetCalculatedDataSetResult" nillable="true" type="q1:CalculatedDataset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>