GeoDKPOCDMPTest.WS1/Service References/WS2/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GeoDKPOCDMPTest.WS2" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GeoDKPOCDMPTest.WS2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CalculatedDataset">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RefId" type="xs:int" />
      <xs:element minOccurs="0" name="ValueA" type="xs:double" />
      <xs:element minOccurs="0" name="ValueB" type="xs:double" />
      <xs:element minOccurs="0" name="ValueC" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CalculatedDataset" nillable="true" type="tns:CalculatedDataset" />
</xs:schema>