GeoDKPOCDMPTest.Web/Service References/WS1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GeoDKPOCDMPTest.WS1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GeoDKPOCDMPTest.WS1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://geodkpocdmptestws1.azurewebsites.net/Service1.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/GeoDKPOCDMPTest.WS1.Repositories" />
  <xs:complexType name="CompanyInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CvrNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompanyInfo" nillable="true" type="tns:CompanyInfo" />
  <xs:complexType name="DataSet">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GeoDKPOCDMPTest.WS1.Repositories" minOccurs="0" name="PythagorasValues" nillable="true" type="q1:ArrayOfPythagorasValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataSet" nillable="true" type="tns:DataSet" />
  <xs:complexType name="CalculatedDataSet">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GeoDKPOCDMPTest.WS1.Repositories" minOccurs="0" name="PythagorasValues" nillable="true" type="q2:PythagorasValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CalculatedDataSet" nillable="true" type="tns:CalculatedDataSet" />
</xs:schema>