GeoDKPOCDMPTest.Web/Service References/WS1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GeoDKPOCDMPTest.WS1.Repositories" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GeoDKPOCDMPTest.WS1.Repositories" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPythagorasValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PythagorasValue" nillable="true" type="tns:PythagorasValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPythagorasValue" nillable="true" type="tns:ArrayOfPythagorasValue" />
  <xs:complexType name="PythagorasValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ValueA" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="ValueB" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="ValueC" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PythagorasValue" nillable="true" type="tns:PythagorasValue" />
</xs:schema>